{% extends 'main.html' %}
{% block content %}
<div class="container card w-75 rounded-3" id="about_style">
    <div clas=="text-center">
        <p>
            <b>Skin.ai</b> est une jeune startup fondée en Corse au sein du centre de formation Aflokkat.<br><br><br><br>
            Skin.ai permet à ses utilisateurs de faire analyser des lésions et/ou grains de beauté suspects par une IA.<br><br><br><br>
            L'application ne vise pas à remplacer les dermatologues mais à épauler ceux-ci dans la réalisation de leurs diagnostics.
        </p>
    </div>
</div>
{% endblock content %}

