{% extends 'main.html' %}
{% block content %}
<div class="card w-75 rounded-3 p-4" id="disclaimer_style">
    <div class="card-body">
        <center><h3>Mentions légales</h3></center><br><br>
        <p>
            <h5><b>Skin.ai</b></h5><br><br>
            SARL au capital de: 0 EUR<br><br>
            Siège social: Centre professionnel A Stella, Lieu-dit Effrico, 20167 Sarrola-Carcopino.<br><br>
            URL : www.skin.com<br><br>
            Tél. : +33 614469180<br><br>
            e-Mail: Skin@gmail.com<br><br>
            Horaires de service :
            Lundi - Vendredi 09.00-17.00<br><br><br><br>
            
            Skin.ai est hébergé par OVH SAS au capital de 10 174 560 €<br><br>
            RCS Lille Métropole 424 761 419 00045<br><br>
            Code APE 2620Z<br><br>
            N° TVA : FR 22 424 761 419 <br><br>
            Siège social : 2 rue Kellermann - 59100 Roubaix - France<br><br><br><br>
            
            La Commission européenne met à disposition une plate-forme pour la résolution des conflits
            en ligne (RCL) qui est disponible sur https://webgate.ec.europa.eu/odr/.<br><br>
            Les consommateurs ont la possibilité d’utiliser cette plate-forme pour la résolution de leurs litiges.
            Nous sommes en principe prêts à prendre part à une procédure de conciliation extrajudiciaire.</p>
    </div>
</div>
<br><br>

{% endblock content %}
