{% extends 'main.html' %}
{% block content %}
<div class="card w-75 rounded-4" id="faq_style">
    <div class="card-body">
        <center><h4><b>Foire aux questions</b></h4></center><br><br>
        <p>
        <b>Qu'est-ce que Skin.ai?</b><br><br>
        Skin.ai est un outil d'aide au diagnostic. Le résultat d'analyse délivré par nos algorithmes de classification ne doit pas être interprété comme un diagnostic. Skin.ai n'a pas vocation à remplacer l'avis d'un dermatologue.<br><br><br>

        <b>Qui peut utiliser Skin.ai?</b><br><br>
        L'application s'adresse principalement à des dermatologues. Toutefois, si vous possédez un appareil vous permettant de prendre une photo dermatoscopique, vous pouvez utiliser l'application.<br><br><br>

        <b>De quelle manière le machine learning est-il utilisé dans l'application ?</b><br><br>
        Skin.ai a entraîné ces algorithmes sur plusieurs milliers de photos
        dermatoscopiques provenant des datasets d'images de l'ISIC. Notre équipe aspire à collaborer étroitememnt avec des dermatologues utilisant l'application
        pour recueillir de nouvelles photos dans le but d'améliorer sans cesse la performance de nos algorithmes.<br><br>

        </p>
    </div>
</div>
    
{% endblock content %}