{% extends 'main.html' %}
{% for message in messages %} {# boucle for, étape 5 pour installer django auto logout #}
    <div class="message text-center alert alert-info {{ message.tags }}" role="alert">
        <p style="color: red;">{{message}}</p>
    </div>
{% endfor %}
{% block content %}
    <div class="container card p-3 text-center login_div">
    {% if page == 'login' %}
        <form class="" method="POST" action="">
            {% csrf_token %}

            <div class="form-outline mb-4">
                <h2 class="text-uppercase">Connexion</h2>
            </div>
            
            <div class="form-outline mb-4">
                <input type="email" name="email" class="form-control" placeholder="Entrez votre email"/> 
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password" id="form1Example2" class="form-control" placeholder="Entrez votre mot de passe"/> 
            </div> 

            <!-- Submit button -->
                <button type="submit" class="btn btn-outline-warning w-100" value="Login">Se connecter</button>
                <br></br>

            <div class="col text-center">
                <p>Mot de passe oublié ?<a class= "btn w-100 a link_style" href="{% url 'reset_password' %}">Réinitialiser mot de passe</a></p>
            </div>
            
        </form>
    {% endif %}
    </div>
{% endblock content %}

{% comment %} {% extends 'main.html' %}
{% for message in messages %} {# boucle for, étape 5 pour installer django auto logout #}
    <div class="message text-center alert alert-info {{ message.tags }}" role="alert">
        <p style="color: red;">{{message}}</p>
    </div>
{% endfor %}
{% block content %}
    <div id="intro" class="container w-75 bg-image login_div">
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-md-8">
                {% if page == 'login' %}
                    <form class="login_box rounded-4 p-4" method="POST" action="">
                        {% csrf_token %}

                        <div class="form-outline mb-4">
                            <h2 class="text-center">Connexion</h2>
                        </div>
                        
                        <div class="form-outline mb-4">
                            <input type="email" name="email" class="form-control" placeholder="Entrez votre email"/> 
                        </div>
        
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" name="password" id="form1Example2" class="form-control" placeholder="Entrez votre mot de passe"/> 
                        </div> 

                        <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-warning w-100" value="Login">Se connecter</button>
                            <br></br>

                        <div class="col text-center">
                            <p>Mot de passe oublié ?<a class= "btn w-100 a link_style" href="{% url 'reset_password' %}">Réinitialiser mot de passe</a></p>
                        </div>
                        
                    </form>
                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %} {% endcomment %}