{% extends 'main.html' %}
{% block content %}
<fieldset class="container w-75 p-4 text-center" id="password_reset_form">
    <form method="POST" class="form-control" id="password_reset_form_2">
        <br>
        <h3 class="text-center">Changez votre mot de passe</h3>
        <br>
        {% csrf_token %}
        {% for field in form %}
            {{field.label}}
            <br>
            <div class="w-100">{{field}}</div>
            <br></br>
            {% if field.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <p>{{ field.errors }}</p>
                </div>
            {% endif %}
        {% endfor %}
        <input type="submit" class="btn btn-outline-warning btn-sm w-50" name="Changer mot de passe">
        <br></br>
    </form>
</fieldset>
{% endblock content %}