{% extends 'main.html' %}
{% block content %}
<fieldset class="container w-75 text-center p-4" id="password_reset" data-bs-theme="dark">
    <form method="POST" class="form-control" id="password_reset_2">
        <br>
        <h3>Changement du mot de passe</h3>
        <br>
        <p>Saisissez l'adresse email associée à votre compte Skin.ai.</p>
        {% csrf_token %}
        {{form}}
        <br></br>
        <input type="submit" class="btn btn-outline-warning btn-sm w-50" value="Continuer">
        <br></br>
    </form>
</fieldset>
{% endblock content %}