{% extends 'main.html' %}
{% block content %}
<div class="container card w-75 rounded-3" id="about_style">
    <div clas=="text-center">
        <p>
            <b>Conditions d'utilisation de Skin.ai</b><br><br><br><br>
1. Acceptation des conditions d'utilisation<br><br>
En utilisant Skin.ai, vous acceptez ces conditions d'utilisation. Si vous n'acceptez pas ces conditions d'utilisation, veuillez ne pas utiliser Skin.ai.<br><br><br><br>
2. Description du service<br><br>
Skin.ai est une application qui utilise des algorithmes de machine learning pour analyser des photos dermatoscopiques.<br><br><br><br>
3. Pas un avis médical<br><br>
Les informations fournies par Skin.ai sont destinées à être utilisées à des fins informatives uniquement. Elles ne sont pas destinées à remplacer un avis médical professionnel, un diagnostic ou un traitement. Vous devez toujours chercher l'avis d'un professionnel de la santé qualifié pour toute question que vous pourriez avoir au sujet d'une condition médicale.<br><br><br><br>
4. Exactitude de l'information<br><br>
Bien que nous nous efforcions de fournir des informations précises, nous ne garantissons pas que les informations fournies par Skin.ai seront exactes, complètes ou à jour. Vous acceptez que l'utilisation de Skin.ai est à vos propres risques.<br><br><br><br>
5. Limitation de responsabilité<br><br>
Dans toute la mesure permise par la loi, Skin.ai ne sera pas responsable des dommages directs, indirects, spéciaux, punitifs, exemplaires, consécutifs ou autres dommages découlant de, ou en relation avec, l'utilisation de Skin.ai.<br><br><br><br>
6. Rappels sur la protection des données et le consentement des personnes concernées.<br><br>

L'application Skin.ai ciblant principalement les dermatologues et médecins généralistes, il est important que ceux-ci aient obtenu l'accord de leurs patients avant de faire analyser des photos de lésions cutanées desdits patients.
Ce que dit le RGPD :<br><br>
Le consentement est défini comme « toute manifestation de volonté, libre, spécifique, éclairée et univoque par laquelle la personne concernée accepte, par une déclaration ou par un acte positif clair, que des données à caractère personnel la concernant fassent l'objet d'un traitement ».

</p>
    </div>
</div>
{% endblock content %}