<footer class="text-center footer_style">
  <div class="container-fluid">
    <section class="mt-5">
      <div class="row d-flex pt-5">
          <div class="col-md-3">
            <h6 class="font-weight-bold">
              <a class="a" href="{% url 'about' %}">Qui sommes-nous ?</a>
            </h6>
          </div>

          <div class="col-md-3">
            <h6 class="font-weight-bold">
              <a class="a" href="{% url 'disclaimer' %}">Mentions légales</a>
            </h6>
          </div>

          <div class="col-md-3">
            <h6 class="font-weight-bold">
              <a class="a" href="{% url 'faq' %}">Foire aux questions</a>
            </h6>
          </div>
          
          <div class="col-md-3">
            <h6 class="font-weight-bold">
              <a class="a" href="{% url 'contact' %}">Contact</a>
            </h6>
          </div>
          <br><br><br><br>
      </div>
    </section>
  </div>
</footer>

